* {
  background-color: #eee;
}

.container h1,.container h5 {
  margin: 10px;
  padding: 10px;
}

.container h1,.container h5 {
  /*darkslategrey*/
  background-color: darkblue;
  color: floralwhite;
  text-align: start;
}

.container body {
    background-color: cornsilk;
}

.headerNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 25px;
  text-align: center;
  background-color: darkblue;
  height: 50px;
  position: sticky;
  top: 0px;
}

.headerNav a {
  background-color: darkblue;
  color: floralwhite;
}

.container .usertext {
  color:black;
}

.headerNav a:link {
  color: lightskyblue;
}

.headerNav a:visited {
  color: lightseagreen;
}

.headerNav a:hover {
  color: lightslategray;
}

/* content styles*/
.feedback p {
    margin:10px;
    padding: 10px;
    color:black;
    font-size: 17px;
    background-color: darkgrey;
  }

  .feedback h1 {
    margin: 10px;
    padding: 10px;

    background-color: darkblue;
    color: floralwhite;
    text-align: start;
  }

  .feedback a:link {
    color: lightskyblue;
  }

  .feedback a:visited {
    color: lightseagreen;
  }

  .feedback a:hover {
    color: lightslategray;
  }

  /* Footer styles*/
  .footer .menu, .footer .menu li, .footer .menu li a {
    background-color: darkblue;
    color:white;
  }

  .footer{
    margin: 10px;
    padding: 10px;
    background-color: darkblue;
    color:lightgrey;
  }

  .menu li a:link {
    color: lightskyblue;
  }

  .menu li a:visited {
    color: lightseagreen;
  }

  .menu li a:hover {
    color: lightslategray;
  }
