.feedback p {
    margin:10px;
    padding: 10px;
    color:black;
    font-size: 17px;
    background-color: darkgrey;
  }

  .feedback h1 {
    margin: 10px;
    padding: 10px;

    background-color: darkblue;
    color: floralwhite;
    text-align: start;
  }

  .feedback a:link {
    color: lightskyblue;
  }

  .feedback a:visited {
    color: lightseagreen;
  }

  .feedback a:hover {
    color: lightslategray;
  }