.thanks body {
    background-color: lightsalmon;
}
  .thanks p {
    margin:10px;
    padding: 10px;
    color:darkblue;
    font-size: 20px;
    background-color: white;
  }

  

  .thanks a:link {
    color: lightskyblue;
  }

  .thanks a:visited {
    color: lightseagreen;
  }

  .thanks a:hover {
    color: lightslategray;
  }