.feedback {
    text-align: center;
    align-self: center;
  }

  label {
    margin: 10px;
    padding: 5px;

    font-size: large;

    background-color: darkgrey;
    color: black;
    text-align: start;
  }

 input[type=text], select {
  margin: 10px;
  padding: 5px;
  font-size: large;
  background-color: lightgrey;
  color: darkblue;
  text-align: start;
 }

 input[type=submit] {
  margin: 5px;
  padding: 5px;

  background-color: darkblue;
  color: floralwhite;
  text-align: start;
 }

 #feedback_text {
   font-size: large;
 }

  .feedback a:link {
    color: lightskyblue;
  }

  .feedback a:visited {
    color: lightseagreen;
  }

  .feedback a:hover {
    color: lightslategray;
  }