.content {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.content p {
    margin: 10px 20px 10px 20px;
    color: darkblue;
  }

.content .table {
    margin: 0px 20px 0px 20px;
    border-left: 2px solid #58acb8;
    border-right: 2px solid #58acb8;
    border-bottom: 4px solid #1b5d96;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #58acb8;
    border-bottom: 4px solid #1b5d96;
    color: #eee;
    font-size: 20px;
    text-align: center;
}

.header div {
    background: None;
    padding: 10px 0px 10px;
}

.students {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }