<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Footer Template</title>
   <link rel="stylesheet" href="/static/footer.css" type="text/css">
 </head>
 <body>
    <header>
      <div class="footer">
        <strong><nav>
            <ul class="menu">
                <li><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of computer Science</a></li>
                <li><a href="{{ url_for('feedback') }}">Anonymous feedback</a></li>
                <li><a href="{{ url_for('CourseTeam') }}">Course Team</a></li>
                <li>Site designed by Carlos Fei Huang, Jenny Su, Jeffrey Wong</li>
              </ul>
        </nav></strong>
    </div>
    </header>
    
 </body>
</html>