<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSCB63 -- Design and Analysis of Data Structures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    
    {% block content %}
    {% include "template.html" %}
    <div class="home">
      <h6>To do:</h6>

      <ul class="menu">
        <li>Assignment 1</li>
        <li>Lab 2</li>
        <li>tutorial 3 worksheet</li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>

      <h1>Office Hours </h1>
      <p>Usually Mondays 11:00-12:30, Friday 10:40-11:30.</p>
      <p>next office hours: Friday 10:40-11:30.</p>

      <h1> Course Description </h1>
      <p> Design, analysis, implementation and comparison of efficient data structures for common abstract data types.<br>
        Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, B-trees, hashing. <br>
        Amortization: data structures for managing dynamic tables and disjoint sets.<br> 
        Data structures for representing graphs. Graph searches.<br> 
        Exclusion CSC263H, CSC265H, (CSCC78H) <br>
        Prequisite CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]<br>
      </p>
    </div>
    {% include "footer.html" %}
    {% endblock %}
    
  </body>
</html>


