<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>instructorMarks</title>
    <link rel="stylesheet" href="/static/instructorMarks.css" type="text/css">
  </head>
  <body>

    {% include "instructorHeader.html" %}

      <div class="content">
        <h1>Student marks</h1>

        <div class="table">
          <div class="header">
            {% for elem in marks[0] %}
              <div>{{ elem }}</div> 
            {% endfor %}
          </div>


          <div class="students">
            {% for dict in marks %}
              {% for elem in dict.values() %}
                <div class="gd"> {{ elem }}</div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        
      </div>
    {% include "instructorFooter.html" %}
  </body>