<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LoginExample</title>
    <link rel="stylesheet" href="/static/loginPage.css" type="text/css">
  </head>

  <body>
    <h1>CSCB63 -- Design and Analysis of Data Structures</h1>

    <h3>Sign in to your account:</h3>

    <form method="post">
        <p>Enter your username: <input type=text name=username>
        <p>Enter your password: <input type=password name=password>
        <p><input type=submit value=Submit>
        </form>

  </body>