<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register Instructor</title>
    <link rel="stylesheet" href="/static/registerInstructor.css" type="text/css">
  </head>
<body>


<div class=titleHere>
    <h1>CSCB63 -- Design and Analysis of Data Structures</h1>
</div>

<div class="register">
{% if userNameTaken %}
    <p>Sorry, the username has already been taken, please given another username</p>

{% endif %}


<h1>Register as an Instructor here:</h1>





<form action="/registerInstructorResult"  method= "post" onsubmit="return validateInput()" >
    Username: <input type="text" id="username" size="20" name="username"><br>
    Password: <input type="password" id="password" size="20" name="password"><br>
    Lecture Section: <input type="number" id="lecSection" size="20" name="lecSection"><br>
    <br>
  <input type="submit" value="Submit">
</form>
</div>

<script>

    function validateInput() {

    if (document.getElementById("username").value.length === 0 ||
        document.getElementById("password").value.length === 0 ||
        document.getElementById("lecSection").value.length === 0) {
        alert("All fields must have a value");
        return false;
    }
    return true;

}
</script>




</body>
</html>