<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register Student</title>
    <link rel="stylesheet" href="/static/registerStudent.css" type="text/css">
  </head>
<body>

<div class=titleHere>
    <h1>CSCB63 -- Design and Analysis of Data Structures</h1>
</div>

<div class="register">
    {% if userNameTaken %}
        <p>Sorry, the username has already been taken, please given another username</p>

    {% endif %}



    <h1>Register as a student here:</h1>

    <form action="/registerStudentResult"  method= "post" onsubmit="return validateInput()" >

        <label for= "username">Username:</label> <input type="text" id="username" size="20" name="username"><br>
        <label for= "password:">Password:</label> <input type="password" id="password" size="20" name="password"><br>
        <label for= "firstname">FirstName:</label> <input type="text" id="firstname" size="20" name="firstname"><br>
        <label for= "lastname">lastName:</label> <input type="text" id="lastName" size="20" name="lastName"><br>
        <label for= "lecSection">Lecture Section:</label> <input type="number" id="lecSection" size="20" name="lecSection"><br>
        <br>
    <input type="submit" value="Submit">
    </form>


    <script>
    function validateInput() {

        if (document.getElementById("username").value.length === 0 ||
            document.getElementById("password").value.length === 0 ||
            document.getElementById("firstname").value.length === 0 ||
            document.getElementById("lastName").value.length === 0 ||
            document.getElementById("lecSection").value.length === 0) {
            alert("All fields must have a value");
            return false;
        }
        return true;

    }

    </script>
</div>
</body>
</html>