<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>studentMarks</title>
    <link rel="stylesheet" href="/static/studentMarks.css" type="text/css">
  </head>
<body>
    {% if userType =='student' %}
      {% extends "headerV1.html" %}
    {% else %}
      {% extends "instructorHeader.html" %}
    {% endif %}

    {% block content %}

      <div class="content">
        <h1>Student marks</h1>

        <div class="table">
          <div class="header">
            {% for key in studentMarkDict %}
              <div>{{ key }}</div> 
            {% endfor %}
          </div>


          <div class="students">
            {% for dict in studentMarkDict.values() %}
                <div class="gd"> {{ dict }}</div>
            {% endfor %}
          </div>
        </div>
        
      </div>
    {% include "footer.html" %}
    {% endblock %}
</body>
</html>