<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}" type="text/css">
  </head>

  <body>
    {% if userType =='student' %}
      {% extends "headerV1.html" %}
    {% else %}
      {% extends "instructorHeader.html" %}
    {% endif %}

    {% block content %}

      <div class="content">
        <h1>Success!</h1>
          <p>{{ successMsg }}</p>

      </div>
    {% include "footer.html" %}
  {% endblock %}
  </body>