<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thank you for your submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thankyou.css') }}">
  </head>
  <body>
    {% if userType =='student' %}
      {% extends "studentheader.html" %}
    {% else %}
      {% extends "instructorHeader.html" %}
    {% endif %}

    {% include "template.html" %}
    {% block content %}
    <div class="thanks">
      <p>Thank you for your submission!</p>
      <p>Return to the <a href="{{ url_for('index') }}">Home</a> page</p>
    </div>
    {% include "footer.html" %}
    {% endblock %}

  </body>
</html>
