<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorials.css') }}">

    <title>CSCB63 -- Design and Analysis of Data Structures</title>
  </head>
  <body>
  {% if userType =='instructor' %}
      {% extends 'instructorHeader.html' %}
  {% else %}
      {% extends 'headerV1.html' %}
  {% endif %}

    {% block content %}

    <div class="content">
      <h2>Tutorial Handouts</h2>
      <hr>

      <div class="table">
        <div class="header">
            <div>week</div>
            <div>Topic</div>
            <div>handout</div>
            <div>Solutions</div>
        </div>

        <div class="week">
          <div class="td">week1</div>
          <div class="td">No Tutorial</div>
          <div class="td"> </div>
          <div class="td"> </div>
        </div>
        <div class="week">
          <div class="td">week2</div>
          <div class="td">Worst Case Complexity</div>
          <div class="td">
            <a href="dummy files/DummyPDF.pdf" target="_blank">handout</a>
          </div>
          <div class="td">
            <a href="dummy files/DummyPDF.pdf" target="_blank">solution</a>
          </div>
        </div>
        <div class="week">
          <div class="td">week3</div>
          <div class="td">AVL Trees Insert/Delete</div>
          <div class="td">
            <a href="dummy files/DummyPDF.pdf" target="_blank">handout</a>
          </div>
          <div class="td">
            <a href="dummy files/DummyPDF.pdf" target="_blank">handout</a>
          </div>
        </div>
        <div class="week">
          <div class="td">week4</div>
          <div class="td">Practice Term test format</div>
          <div class="td"> </div>
          <div class="td"> </div>
        </div>
        <div class="week">
          <div class="td">week5</div>
          <div class="td">Graph Search Algorithms</div>
          <div class="td">
            <a href="dummy files/DummyPDF.pdf" target="_blank">Graph Definitions</a>, <br>
            <a href="dummy files/DummyPDF.pdf" target="_blank">BFS Handout</a>, <br>
            <a href="dummy files/DummyPDF.pdf" target="_blank">BFS practice</a>
          </div>
          <div class="td"> </div>
        </div>
        <div class="week">
          <div class="td">week6</div>
          <div class="td">MSTs and Prims Algorithm</div>
          <div class="td">
            <a href="dummy files/DummyPDF.pdf" target="_blank">handout</a>
          </div>
          <div class="td"> </div>
        </div>
        <div class="week">
          <div class="td">week7</div>
          <div class="td">Dijkstra</div>
          <div class="td">
            <a href="dummy files/DummyPDF.pdf" target="_blank">handout</a>
          </div>
          <div class="td"> </div>
        </div>

      </div>
    </div>

    {% include "footer.html" %}
{#    {% endblock %}#}

  </body>
</html>
